{% extends "base.html" %}

{% block content %}
<div class="homePageContainer">
    <h1>Welcome to OrderOps!</h1>
    <img src="../static/images/waving-users.png">
    <p>Streamline your order process with ease. Our intuitive platform helps you manage, track, and fulfill orders
        efficiently, ensuring a smooth experience from start to finish. Stay organized, increase productivity, and
        improve customer satisfaction—all in one place.</p>
    <p>
        Our company was founded in 2015 with a simple yet powerful mission: to transform the way businesses manage their
        orders. Starting as a small team of passionate entrepreneurs, we recognized the growing need for a more
        efficient, user-friendly system to handle complex order processing. Armed with innovative ideas and a deep
        understanding of business challenges, we set out to create a solution that would help companies streamline their
        operations and improve customer satisfaction. Since then, we’ve grown into a trusted provider of order
        management solutions, continuously evolving to meet the needs of businesses worldwide.</p>
    <p> Get started today and take control of your orders with confidence!</p>
    <button><a href="/orders">View Orders</a></button>
</div>
{% endblock %}