{% extends "base.html" %}

{% block content %}
<div class="login_form">
    <form action="#" method="post">
        <h3>Register here</h3>
        <div class="input_box">
            <label for="user_type">User Type</label>
            <select name="user_type" id="user_type">
                <option value="regular">Regular</option>
                <option value="administrator">Administrator</option>
            </select>
        </div>
        <div class="input_box">
            <label for="username">Username</label>
            <input type="username" name="username" id="username" placeholder="Enter your username" required />
        </div>
        <div class="input_box">
            <div class="password_title">
                <label for="password">Password</label>
            </div>
            <input type="password" name="password" id="password" placeholder="Enter your password" required />
        </div>
        <div class="input_box">
            <div class="re-enter_password_title">
                <label for="re-enter_password">Re-enter Password</label>
            </div>
            <input type="password" name="re-enter_password" id="re-enter_password" placeholder="Re-enter your password" required />
        </div>
        <button type="submit">Register</button>
        <p class="sign_up">Already have an account? <a href="/sign-in">Sign in</a></p>
    </form>
</div>
{% endblock %}